<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:name=".LavaApplication"
        android:allowBackup="false"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".auth.LoginActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".SplashScreenActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="lavademo" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name=".consent.ConsentActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_consent"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name=".initOptions.InitOptionsActivity"
            android:configChanges="orientation|screenSize"
            android:label="InitOptionsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="fe6363c5a03dcd9dfdbcc8b96fff7b957add89d1" />

        <receiver
            android:name=".deepLink.DeepLinkReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="TODO">
            <intent-filter>
                <action android:name="com.lava.lavasdk.DEEP_LINK_BROADCAST" />
            </intent-filter>
        </receiver>

        <service
            android:name=".notification.MyFcmMessageService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".debug.DebugActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".deepLink.DeepLinkActivity" />

        <activity android:name=".BaseActivity" />

        <!--   This is just for debugging / testing only     -->
        <receiver
            android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver"
            android:exported="true"
            android:permission="@null"
            tools:replace="android:permission">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="ai.lava.demoapp.android" />
            </intent-filter>
        </receiver>
    </application>

</manifest>